<div class="jumbotron">
	<h1><%= @post.titulo %></h1>
	<div>
		<%= @post.contenido %>
	</div>
	<% if usuario_signed_in? %>
		<% if @post.usuario_ha_pagado? current_usuario.id %>
			<% @post.attachments.each do |attachment| %>
				<%= link_to attachment.titulo, attachment %>
			<% end %>
		<% else %>
			<%= render "payments/form", payment: Payment.new, post: @post %>
		<% end %>
	<% end %>
</div>

<div class="text-right">
	<% if @post.usuario and usuario_signed_in? and @post.usuario == current_usuario %>
		<%= link_to 'Editar', edit_post_path(@post) %> |
		<%= link_to 'Eliminar', @post, method: :delete, data: {confim: "Estas seguro de borrar el post ?"} %> |
	<%end%>
	<%= link_to 'Back', posts_path %>
</div>

	


